<% if @user.errors.any? %>
	<div class="alert alert-warning">
		<ul>
			<% @user.errors.full_messages.each do |message| %>
				<li><%= message + ' error' %></li>
			<% end %>
		</ul>
	</div>
<% end %>